@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

.about-title {
    font-family: 'Permanent Marker', cursive;
    color: white;
}

.about-paragraph {
    color: white;
    font-family: 'Kalam';
    font-size: large;
}

.about {
    text-align: left;
    font-style: italic;
    padding: 25px;
    width: 77.25%;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-color: white;
}

