@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

.login-form-title {
    margin-top: 1.5rem;
    font-family: 'Permanent Marker', 'cursive';
}

.login-form {
    margin-top: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.login-container {
    margin-top: 2.5rem;
    width: 50%;
    background-color: lightgreen;
    border: 5px solid green;
}

.login-container:hover {
    background-color: greenyellow;
}

.login-button {
    font-family: 'Permanent Marker', 'cursive';
    color: white;
}

.btn-success:hover {
    background-color: yellow;
    color: black;
}

.form-title {
    font-family: 'Permanent Marker', 'cursive';
}